body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px
}

h1{
    text-align: center;
}

.menu, .orders, .earnings, .inventory{
    margin: 20px 0;
}

button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor:pointer;
}

button:hover {
    background-color: darkgreen;
}

button:active{
 background-color: rgb(0, 60, 0);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border:1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li{
    padding: 5px 0;
}